*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*-- position grid --*/
body {
  padding: 10px;
  height: 100vh;
  width: 100vw;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(4, 73, 73);
  color: rgb(245, 243, 243);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.6fr 0.5fr;
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
    'title title title title title title'
    'choice choice random random error error'
    'choice-operation choice-operation choice-time choice-time point point'
    'game game game game point point'
    'timer timer timer timer total total'
    'response response response response total total'
    'response response response response total total'
    'response response response response total total';
}

/* -- position boxes --*/
.box {
  border: 1px solid rgb(236, 222, 222);
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #333;
}

.box-score {
  margin-left: 10px;
}

.box-table {
  margin-left: 10px;
}

/*-- pop up finish game --*/
.overlay {
  position: fixed;
  left: 120px;
  top: 55px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 80%;
  height: 80%;
  z-index: 1;
  visibility: hidden;
  color: rgb(236, 222, 222);
}
/* -- text finish --*/
.text-overlay {
  text-align: center;
  font-size: 20px;
}

/* -- style elements box --*/
.title {
  text-align: center;
  margin-bottom: 10px;
}
.text {
  margin: 15px 0 10px;
  text-align: left;
}
.table {
  text-align: left;
}

.position {
  margin-top: 0px;
  margin-bottom: 10px;
}

.text-timer {
  font-size: 20px;
  margin: 2px 5px 2px;
}

.start-timer {
  visibility: hidden;
}

.start-timer-active {
  visibility: visible;
}

.text-score {
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
}

/* -- zone question --*/
.question-calcul {
  font-size: 60px;
  visibility: hidden;
}

.question-active {
  visibility: visible;
}

.input-response {
  height: 50px;
  width: 75px;
  color: rgb(236, 222, 222);
  background-color: orange;
  font-size: 40px;
  visibility: hidden;
}

.input-response-active {
  visibility: visible;
}

/* -- zone score -- */
.text-total {
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
}

.number-score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  transform: translateY(-40%);
}

#number-true {
  color: green;
}

#number-false {
  color: red;
}

#number-total {
  color: rgb(236, 222, 222);
}

/* -- style box table multiply --*/
.number {
  margin: 0 auto 0;
  width: 315px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

label {
  user-select: none;
  transition: 0.2s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

input[type='radio'] {
  display: none;
}

input[type='radio']:checked + label {
  transform: scale(1.1);
  background-color: orange;
}

.btn-radio {
  font-size: 17px;
  border: 1px solid rgb(236, 222, 222);
  background-color: teal;
  border-radius: 5px;
  width: 35px;
  height: 30px;
  color: rgb(236, 222, 222);
  cursor: pointer;
  margin: 5px;
}

/*-- button disabled --*/
.boxDisabled {
  pointer-events: none;
  opacity: 0.2;
}
/*---------------*/

.table-number-random {
  border: 1px solid rgb(236, 222, 222);
  background-color: teal;
  border-radius: 3px;
  width: 150px;
  height: 35px;
  color: rgb(236, 222, 222);
  cursor: pointer;
  margin: 20px;
  font-size: 16px;
}

.table-number-random:hover {
  background-color: rgb(56, 187, 187);
}

.position-random {
  display: flex;
  justify-content: center;
}

.random {
  border: 1px solid rgb(236, 222, 222);
  border-radius: 5px;
  background-color: teal;
  width: 35px;
  height: 35px;
  margin: 20px;
}

.random-active {
  border: 1px solid rgb(236, 222, 222);
  border-radius: 5px;
  background-color: orange;
  width: 35px;
  height: 35px;
  margin: 20px;
}

.multiply-random {
  font-size: 18px;
  text-align: center;
  transform: translateY(25%);
  visibility: hidden;
}

.multiply-random-active {
  visibility: visible;
}

/* -- style box operation and time --*/

.box-radio {
  margin-left: 5px;
}

.radio-time {
  font-size: 17px;
  border: 1px solid rgb(236, 222, 222);
  background-color: teal;
  border-radius: 5px;
  width: 45px;
  height: 30px;
  color: rgb(236, 222, 222);
  cursor: pointer;
  margin: 5px;
}

/* -- button play --*/
.play {
  border: 1px solid rgb(236, 222, 222);
  background-color: teal;
  border-radius: 3px;
  width: 150px;
  height: 35px;
  color: rgb(236, 222, 222);
  cursor: pointer;
  margin: 20px;
  font-size: 16px;
  box-shadow: 5px 5px 15px 5px #333;
}

.play:hover {
  background-color: orange;
}
/*-- button reset --*/

.reset {
  border: 1px solid rgb(236, 222, 222);
  background-color: teal;
  border-radius: 3px;
  width: 150px;
  height: 35px;
  color: rgb(236, 222, 222);
  cursor: pointer;
  margin: 20px;
  font-size: 16px;
  box-shadow: 5px 5px 15px 5px #333;
}

.reset:hover {
  background-color: orange;
}

/*--- display grid ---*/
.presentation {
  grid-area: title;
  text-align: center;
}

.table-multiply {
  grid-area: choice;
  padding: 10px;
}

.table-random {
  padding: 10px;
  grid-area: random;
}

.operation {
  grid-area: choice-operation;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-time {
  grid-area: choice-time;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  grid-area: game;
  display: flex;
  justify-content: center;
  align-items: center;
}

.response {
  grid-area: response;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-error {
  grid-area: error;
}

.score-point {
  grid-area: point;
}

.score-total {
  grid-area: total;
}

.time {
  grid-area: timer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*---------------------------------------------*/
